        #contaniner {
            width: 1140px;
            /*  background-color: rgb(212, 157, 157); */
            /* ana cercevemize belli sabit bir genişlik verdik.*/
        }
        
        #blog-post-contaniner {
            /* background-color: rgb(202, 179, 179); */
            width: 75%;
            /* ana cercevemiz içinde 2 tane div i yan yana getircez . Bu yüzden genişlikleri
    75% ve 25% yapmalıyız. */
            float: left;
        }
        
        #other-posts {
            /*  background-color: rgb(221, 209, 160); */
            width: 25%;
            float: right;
        }
        
        #author-box {
            /*  border: 3px solid gray; */
        }
        
        li {
            /* 
            liste elemanlarını yan yana yazmak için;
            float: left; 
            yazıp daha sonra görüntüyü düzeltmek için ul etiketinden sonra 
            <div style="clear: both"></div>
            yazsak da olur.
            */
            display: inline-block;
            margin-right: 100px;
            list-style-type: square;
        }
        
        ul {
            margin: 0;
            padding: 0;
            /* dersek ul etiketinin varsayılan özellklerin de olan margin ve padding değerlerini
    0 layıp yan yana getirdiğimz liste elemanlarını en soldan başlatabiliriz.*/
        }